<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <h3>大乱闘スマッシュブラザーズシリーズ</h3>
    <a herf="https://Misuto1732139-1.paiza-user.cloud/games">
    <section>
    <h3>ゲーム名</h3>
    </section>
    </a>
    <a herf="https://Misuto1732139-1.paiza-user.cloud/characters">
    <section>
    <h3>キャラクター名</h3>
    </section>
    </a>
</body>
</html>
