<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <h3>大乱闘スマッシュブラザーズシリーズ</h3>
    <a herf="https:/github.com/Misuto1732139/websystem2/games">
    <section>
    </section>
    </a>
    <h3>ゲーム名</h3>
    <a herf="https:/github.com/Misuto1732139/websystem2/characters">
    <section>
    <h3>キャラクター名</h3>
    </section>
    </a>
</body>
</html>
