<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <h1>大乱闘スマッシュブラザーズシリーズ</h1>
    <section>
    <h3><a herf="/games"></a>ゲーム名</h3>
    </section>
    <section>
    <h3><a herf="/characters"></a>キャラクター名</h3>
    </section>
</body>
</html>
