<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <h1>大乱闘スマッシュブラザーズシリーズ</h1>
    <section>
    <h3><a herf="/games"><ゲーム名</h3>
    </a>
    </section>
    <section>
    <h3><a herf="/characters">キャラクター名</h3>
    </a>
    </section>
</body>
</html>
