<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.id %></td>
            <td><%= result.year %></td>
            <td><%= result.name %></td>
        </tr>
        <% } %>
    </table>
    <form action="/players_create" method="get">
        <p>氏名</p>
        <input type="text" name="simei">
        <input type"submit" value="登録">
        並び順：<select name="sorting">
            <option value="id">id</option>
            <option value="year">year</option>
            <option value="name">name</option>
        </select>
        表示数：<input type="text" name="number" size="10">
        <input type="submit" value="並び替える">
    </form>
</body>
</html>
